<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>கவிதைகள்</h1>

<div class="poem-box">

<a href="/poem/poem1">✒️ அன்புடன் பாட்டிக்கு</a><br><br>
<a href="/poem/poem2">✒️ நண்பா நம் நட்பைப் பார்</a><br><br>
<a href="/poem/poem3">✒️ காதலின் பார்வை</a><br><br>
<a href="/poem/poem4">✒️ கொரோனா</a><br><br>
<a href="/poem/poem5">✒️ சிந்தனையின் விபத்து</a><br><br>
<a href="/poem/poem6">✒️ பயணித்தோம் வாழ்கையில்</a><br><br>
<a href="/poem/poem7">✒️ தெய்வத்தாய்</a><br><br>
<a href="/poem/poem8">✒️ அபூர்வ நட்பே</a><br><br>


</div>

<a href="/">⬅ Back</a>

</body>
</html>
