<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>கொரோனா</h1>

<div class="poem-box">
<p>
கொரோனா என்னைக் கொன்று விடாதே வீணா<br><br>

கொரோனா கொடிய வைரஸ் அதனால்<br>
மக்கள் எல்லாம் ஹவுஸ் அரஸ்ட்<br><br>

நீங்க வீட்டை விட்டு வெளியே போனா<br>
கொரோனா உள்ளே வந்திடும் தானா<br><br>

வெளியே போனால் போடணும் மாஸ்க்<br>
சோசியல் டிஸ்டன்ஸை கடைப்பிடிக்கணும்<br>
அதுதான் நமக்கு பெரிய டாஸ்க்<br><br>

கொரோனாவுக்கு இல்லை மருந்து அதனால்<br>
நீங்க எல்லாம் வீட்டிலேயே இருந்து<br>
கேட்கணும் டாக்டர்களின் கருத்து<br><br>

- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
