<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>தெய்வத்தாய்</h1>

<div class="poem-box">
<p>
பாசம் மிக்க, எந்த ரத்தத்தில் சேராத உறவையும் இதயத்தால் சேர்ந்து உறவு என்று கூறுவர்.<br><br>

உயிர் கொடுத்தது செல்வி என்று எல்லாருக்கும் தெரியும், ஆனால் இந்த உயிரை காக்கும் செல்வி இவள்தான் என்று யாருக்கும் தெரியாது.<br><br>

எண்ணிப் பார்க்க முடியாத அளவிற்கு ஒருவர் அன்பையும் அக்கறையையும் சுமக்க வைக்கும் போது, அவர்களுக்கு நிகரா உயிரைக் கொடுத்தால்கூட அது நிகராகாது.<br><br>

தன்னை மறந்து, என்னை ஒவ்வொரு நொடியும் பாதுகாத்த என் செல்லத் தங்கம், எப்போதும் கடவுளை விட உயர்ந்தவள்.<br><br>

எந்த நொடியும், என்னுடைய ஒரே வேண்டுகோள்—இவள் இனிமேல் எந்த வகையிலும் உண்மையாக சிரிப்பதை நிறுத்தவே கூடாது.<br><br>

இவ்வுலகில் எந்த உறவும் தாயின் பாசத்திற்கு ஈடாக முடியாது. அதனால் தான் என்னவோ, நான் என் தாயாக உன்னை ஏற்றுக் கொண்டேன்.<br><br>

எந்த நொடியும் உன் மகிழ்ச்சி காப்பேன்; மேலும், சிரமப்பட விடமாட்டேன். இது சத்தியம் என்று கத்தியே செல்கிறேன்!<br><br><br>

இப்படிக்கு,<br>
அளவில்லா அன்புடன் அன்புத் தம்பி.
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
