<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>காதலின் பார்வை</h1>

<div class="poem-box">
<p>
என் வாழ்க்கையை மாற்றிய - உனது<br>
மென்மையான மனம்!!!<br><br>

என் கவனத்தை சிதைத்த - உனது<br>
இரு இமைகள்!!!<br><br>

என் இதயத்தை ஈர்த்த - உனது<br>
ஆக்கிரமிக்கும் குரல்!!!<br><br>

என் கண்களுக்கு உயிர் உணர்த்திய - உனது<br>
அற்புத வதனம்!!!<br><br>

என் கரத்தில் படிந்த - உனது<br>
மெல்லிய கூந்தல்!!!<br><br>

என் இதயத்தை சிதைத்த - தருணம்<br>
உங்களின் இழப்பு!!!<br><br>

என் பாதையை மாற்றிய - நிகழ்வு<br>
உங்களின் பரிவு!!!<br><br>

என் நினைவில் இருப்பதெல்லாம் - உனது<br>
இறுதி சிரிப்புகளே!!!<br><br>

என் நினைவெல்லாம் நீ எப்போதும்<br>
மகிழ்ச்சியாக இருக்க வேண்டும்!!!<br><br><br>

- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
