<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>அன்புடன் பாட்டிக்கு</h1>

<div class="poem-box">
<p>
அம்மா சோறூட்டி வளர்த்தாள் - நீ<br>
எனக்கு பொறுப்பூட்டி வளர்த்தினாயே!<br><br>

அன்னையிடம் கேட்டால் கண்ணை மூடி யோசிப்பாள் நான்<br>
நினைக்கும்முன் என் கண்முன் நிறுத்தினாயே!<br><br>

ஊருக்கு போனாலும் உன்னுடன் - தான் என்று அழுததும் அதிகம்!<br><br>

தலையணை வைத்து உறங்கியதை விட<br>
உன் கதையால் உறங்கியதே அதிகம்!<br><br>

எனக்கு பிறந்தநாள் என்றால் முதல் பரிசு உன்னுடையதே!<br><br>

உனக்கு இந்த கவிதைகளே என் அன்பு பரிசு!<br><br>

இனிய பிறந்தநாள் வாழ்த்துகள்!<br>
“பாக்கியம்”<br><br>
- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
