<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>நண்பா நம் நட்பைப் பார்</h1>

<div class="poem-box">
<p>
நண்பா நம் நட்பைப் பார் உலகத்தில் பெரியது!!!<br>
நம் நட்புக்கு ஈடாக வேறு எதுவுமில்லை!!!<br>
நட்பின் பாசம் உருவாக்கியதில்லை!!!<br>
நானும் நீயும் பிரிந்தது இல்லை!!!<br>
நம் நட்பை யாரும் பிரிக்கப்போவதில்லை!!!<br>
நம்மைப் போல் நண்பர்கள் இல்லை!!!<br>
நம் உறவினர்கள் இங்கு நிலைப்பதில்லை!!!<br><br>

இனிய நண்பர்கள் தின வாழ்த்துக்கள்<br><br>

- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
