<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>பயணித்தோம் வாழ்கையில்</h1>

<div class="poem-box">
<p>
பார்வையாலே பேசினோம்!<br><br>

பாசத்தால் பிணைந்தோம்!<br><br>

பாலமாய் இணைந்தோம்!<br><br>

பார்க்காமலே ரசித்தோம்!<br><br>

பறவையாய் பறந்தோம்!<br><br>

பாடங்களைப் பயின்றோம்!<br><br>

பம்பரமாய் சுழன்றோம்!<br><br>

பேசாமல் வருந்தினோம்!<br><br>

பாசத்தால் உடைமையாய்த் தோன்றினோம்!<br><br><br>

- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
