<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>சிந்தனையின் விபத்து</h1>

<div class="poem-box">
<p>
மறக்காதே! மனதில் வைத்து அழு என்றது.<br><br>

தூங்காதே! துக்கத்தை நினைத்து வருந்து என்றது.<br><br>

பேசாதே! பெரிய பயன் ஏதும் இல்லை என்றது.<br><br>

கலங்காதே! கண்ணீரும் கூட வீணாகும் என்றது.<br><br>

சிரிக்காதே! சிறந்த நாள் இது இல்லையென்றது.<br><br>

வியக்காதே! விந்தையின் சோகம் யாருக்கும் விளங்காது.<br><br>

மயங்காதே! மௌனம் பேசும் வார்த்தைகள் கேட்காது.<br><br>

பயப்படாதே! பலவீனம் எப்போதும் நீ கிடையாது.<br><br>

- கூப்பர் விக்னேஷ்
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
