<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="poem-bg">

<h1>அபூர்வ நட்பே</h1>

<div class="poem-box">
<p>
நட்பே உனை வந்து சேர✨<br>
நான் இங்கு வரம் ஒன்று கேட்டேன்🥹<br>
என் மரனம் நெருங்கிடும் போதும்❤️‍🩹<br>
உன் நினைவில் வாழ்ந்ததிடுவேனே🫶<br><br>

தீரா துயரத்தில் நானும்🥲<br>
அதை துடைக்க வந்தாயே நீயும்🫂<br>
என் ஜென்மம் நிறைந்தது போதும்✨<br>
நட்பே நட்பே❤️<br><br>

மறுஜென்மம் இருந்தால் கூட🤧<br>
அழகே உன் கரம் கோர்பேன்❤️‍🔥<br>
உன்னுடன் நான் தொடர்வேனே😇<br>
நட்பே நட்பே...❤️‍🩹
</p>
</div>

<a href="/poem">⬅ Back</a>

</body>
</html>
