body{
margin:0;
font-family:Arial;
color:white;
}

#bgVideo{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
z-index:-1;
}

.overlay{
text-align:center;
margin-top:150px;
background:rgba(0,0,0,0.5);
padding:40px;
}

h1{
font-size:60px;
}

.social a{
display:inline-block;
margin:10px;
padding:12px 20px;
background:#ffffff22;
color:white;
text-decoration:none;
border-radius:10px;
}

.social a:hover{
background:white;
color:black;
}

/* Poem Page */

.poem-bg{
background:#111;
text-align:center;
padding-top:100px;
}

.poem-box{
background:#222;
margin:auto;
width:60%;
padding:30px;
border-radius:15px;
}
/* Poem title styling */

.poem-box a{
display:block;
text-align:center;
font-size:22px;
font-weight:bold;
color:white;
text-decoration:none;
}

.poem-box a:hover{
color:#ffd700;
}

/* Center poem content */

.poem-box p{
text-align:center;
font-size:20px;
line-height:1.8;
}


