<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cooper Vignesh</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<video autoplay muted loop id="bgVideo">
    <source src="/static/bg.mp4" type="video/mp4">
</video>

<div class="overlay">

<h1>Cooper Vignesh</h1>
<p></p>

<div class="social">

<a href="https://www.instagram.com/cooper_vignesh?igsh=MXNsNDJwYmhsOWo1dA==" target="_blank">Instagram</a>
<a href="https://x.com/cooper_vignesh" target="_blank">X</a>
<a href="https://www.snapchat.com/add/cooper_vignesh" target="_blank">Snapchat</a>
<a href="https://www.facebook.com/share/15f5KXQrJ1h/" target="_blank">Facebook</a>
<a href="https://www.linkedin.com/in/coopervignesh" target="_blank">LinkedIn</a>

<a href="/poem">Poem</a>

</div>

</div>

</body>
</html>

